@font-face {
  font-family: 'comic-light';
  src: url("./ComicNeue-Light.ttf");
}

@font-face {
  font-family: 'comic-regular';
  src: url("./ComicNeue-Regular.ttf");
}

@font-face {
  font-family: 'comic-bold';
  src: url("./ComicNeue-Bold.ttf");
}

@font-face {
  font-family: 'comic-light-italic';
  src: url("./ComicNeue-LightItalic.ttf");
}

@font-face {
  font-family: 'comic-italic';
  src: url("./ComicNeue-Italic.ttf");
}

@font-face {
  font-family: 'comic-bold-italic';
  src: url("./ComicNeue-BoldItalic.ttf");
}
